* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

.Image-container {
    margin: 0 auto;
    width: 250px;
}

.img-html {
    width: 250px;
    height: 250px;
}

.img-css {
    background-image: url('../assets/images/flower.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin: 16px 0;
}

.header h1 {
    margin-bottom: 16px;
}

.header p {
    margin-bottom: 8px;
}

.header button {
    padding: 16px;
    margin-bottom: 16px;
    outline: none;
    border: none;
    background-color: rgb(80, 80, 80);
    margin-left: 4px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    width: 50px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

button.active-btn {
    background-color: rgb(45, 156, 219);
    transform: scale(1.1);
}

.header button:hover {
    cursor: pointer;
    background-color: rgb(60, 60, 60);
    ;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 8px;
}

.column img:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.one-column {
    flex: 100%;
    max-width: 100%;
}

.two-columns {
    flex: 50%;
    max-width: 50%;
}

ul {
    padding-left: 40px;
    display: inline-block;
    list-style-image: url('../assets/images/flower.jpeg');
    font-size: 16px;
}

.list-header {
    text-align: center;
    margin: 16px 0;
}

.list-header h1 {
    margin-bottom: 16px;
}

.media-header {
    text-align: center;
    font-size: 16px;
    padding: 16px;
    margin: 8px 0;
}

.media-header h1 {
    margin-bottom: 8px;
}

.media-header p {
    margin-bottom: 8px;
}

div object {
    width: 80%;
    height: 600px;
}

.gif-header {
    text-align: center;
    margin: 16px;
}

.animated-header {
    text-align: center;
    margin: 16px;
}

.loader {
    background-color: slategray;
    width: 400px;
    margin: 0 auto;
    height: 400px;
    border-radius: 8px;
    position: relative;
}

.box {
    background-color: purple;
    width: 50%;
    height: 50%;
    border-radius: 8px;
    position: absolute;
    animation: left-to-right 2s ease-in-out infinite;
}

@keyframes left-to-right {

    0% {
        transform: translateX(0) translateY(0)
    }

    25% {
        transform: translateY(100%);
        background-color: red;
    }

    50% {
        transform: translateX(100%) translateY(100%);
        background-color: green;
    }

    75% {
        transform: translateY(0%) translateX(100%);
        background-color: blue;
    }

    100% {
        transform: translateX(0);
        background-color: fuchsia;
    }

}