* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 70px;
    display: block;
    background-color: #101010;
}

.inner_header {
    max-width: 1200px;
    width: 90%;
    height: 70px;
    display: block;
    margin: 0 auto;
}

.logo_container {
    height: 75px;
    display: table;
    float: left;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 400;
}

.logo_container h1 span {
    font-weight: 700;
}

.navigation {
    float: right;
    height: 70px;
}

.navigation a {
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 70px;
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;
}

#ham-nav,
.OffScreenMenu {
    display: none;
}

.OffScreenMenu a {
    color: white;
}

@media(max-width:768px) {
    .logo_container h1 {
        font-size: 20px;
    }

    .navigation a li {
        font-size: 10px;
    }

    .OffScreenMenu {
        background-color: #101010;
        height: 40vh;
        width: 100%;
        max-width: 250px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        transition: 0.3s ease;
        border-radius: 10px;
    }

    #ham-nav {
        display: block;
        float: right;
        background-color: #101010;
    }

    .ham-menu {
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
    }

    .ham-menu span {
        height: 5px;
        width: 100%;
        background-color: #6F68FF;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease;
    }

    .ham-menu span:nth-child(1) {
        top: 25%;

    }

    .ham-menu span:nth-child(3) {
        top: 75%;

    }

    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, 50%)rotate(45deg);

    }

    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, 50%)rotate(-45deg);

    }

    .OffScreenMenu.active {
        right: 0;
    }

    .navigation {
        display: none;
    }

}

@media (max-width:480px) {
    .logo_container h1 {
        font-size: 10px;

    }

    .navigation a li {
        font-size:5px;
}
}