* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    background-color: #101010;
    width: 100%;
    height: 70px;
}

header .inner {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo h1 {
    color: #fff;
    padding: 4px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

nav a {
    color: #fff;
    padding-right: 10px;
}

.act {
    color: crimson;
}

header h1:hover {
    transition: all 0.3s ease-out;
    background-color: rgb(25, 25, 25);
    cursor: pointer;
    border-radius: 4px;
}

.offscreen-menu {
    display: none;
}

#ham-nav {
    display: none;
}

.offscreen-menu a {
    color: white;
}

/* MAIN */
main {
    flex: 1;
    margin: 15px;
    text-align: center;
}

main h1 span {
    color: rgb(0, 80, 0);
}

/* FOOTER */
footer {
    width: 100%;
    background-color: #101010;
}

footer .inner {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    min-width: 150px;
}

.footer-heading h2 {
    margin-bottom: 16px;
}

.footer-heading a {
    color: #fff;
    margin-bottom: 8px;
}

.footer-email-form h2 {
    margin-bottom: 16px;
}

#footer-email-input {
    width: 100%;
    max-width: 250px;
    border-radius: 4px;
    height: 40px;
    outline: none;
    border: none;
    padding-left: 8px;
    font-size: 16px;
    margin-bottom: 16px;
}

#footer-email-input::placeholder {
    color: #b1b1b1;
}

#footer-email-btn {
    width: 100px;
    height: 40px;
    background-color: crimson;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    border: none;
}

#footer-email-btn:hover {
    cursor: pointer;
    background-color: rgb(255, 60, 80);
}

.footer-1 a:hover,
.footer-2 a:hover,
.footer-3 a:hover {
    color: crimson;
    transition: .4s ease;
}

.offscreen-menu a.act,
.offscreen-menu a.act:visited {
    color: crimson;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    header .inner {
        align-items: flex-start;
        height: auto;
        padding: 10px 0;
    }

    nav {
        display: none;
    }

    footer .inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-heading,
    .footer-email-form {
        width: 100%;
        margin-bottom: 20px;
    }

    #footer-email-input {
        max-width: 100%;
    }

    .offscreen-menu {
        background-color: #101010;
        height: 40vh;
        width: 100%;
        max-width: 250px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        transition: 0.3s ease;
        border-radius: 10px;
    }

    .offscreen-menu a {
        padding: 4px;
        margin: 4px;
    }

    .offscreen-menu:hover {
        color: crimson;
        transition: all 0.3s ease-out;
    }

    .offscreen-menu.active {
        right: 0;
    }

    #ham-nav {
        display: block;
        float: right;
        background-color: #101010;
    }

    .ham-menu {
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
    }

    .ham-menu:hover {
        cursor: pointer;
    }

    .ham-menu span {
        height: 5px;
        width: 100%;
        background-color: #6F68FF;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }

    .ham-menu span:nth-child(1) {
        top: 25%;
    }

    .ham-menu span:nth-child(3) {
        top: 75%;
    }

    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, 50%) rotate(45deg);
    }

    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }

}

@media (max-width: 480px) {
    .logo h1 {
        font-size: 20px;
    }

    nav a {
        font-size: 14px;
    }

    main h1 {
        font-size: 20px;
    }

    .footer-heading h2,
    .footer-email-form h2 {
        font-size: 18px;
    }

    #footer-email-btn {
        width: 100%;
    }
}