body 
{
    font-family:Verdana, sans-serif;
    margin:0;
    background-color:#f8f5f0;
}
/*Second Animation*/

.m2
{
    font-weight: 200;
    font-size:3.2em;
    text-align: center;
}

.m2 .text-wrapper
{
    position:relative;
    display: inline-block;
    padding-top:.1em;
    padding-right:.05em;
    padding:.15em;
}

.m2 .line
{
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform-origin:100% 100%;
    bottom:0;
}

.m2 .letter
{
    display: inline-block;
    line-height: 1em;
}