* {box-sizing: border-box}

body 
{
    font-family:Verdana, sans-serif;
    margin:0;
    background-color:#f8f5f0;
}

.mySlides {display: none}

img {vertical-align: middle;}

.container{
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top:16px;
}

.next,.prev{
    cursor: pointer;
    position:absolute;
    top:50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight:bold;
    font-size:18px;
    transition:.6 ease;
    border-radius:0 3px 3px 0;
    user-select:none;
}

.next{
    right:0;
    border-radius:3px 0 0 3px;
}

.next:hover,.prev:hover{
    background-color:rgba(0,0,0,0.8)
}

.text{
    color:#f2f2f2;
    font-size:15px;
    padding:8px 12px;
    position:absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.number{
    color:#f2f2f2;
    font-size:12px;
    padding:8px 12px;
    position:absolute;
    top: 0;
}

.dot{
    cursor:pointer;
    width: 15px;
    height: 15px;
    margin:0 2px;
    background-color:#bbb;
    border-radius:50%;
    display:inline-block;
    transition:background-color .6s ease;
}

.dot:hover,.active{
    background-color:#717171;
}

.fade{
    animation-name:fade;
    animation-duration:1.5s;
}

@keyframes fade{
    from
    {
        opacity: .4;
    }
    to
    {
        opacity:1;
    }
}