*
{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


main {
    flex: 1;
    margin: 15px;
}

header{
    background-color:#101010;
    width: 100%;
    height: 70px;
}

header .inner{
    max-width: 1200px;
    width: 90%;
    margin:0 auto;
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

nav a {
    color: #fff;
    padding-right: 10px;
}

.act
{
    color:#f39c12;
}

footer {
    width: 100%;
    background-color: #101010;
}

footer .inner {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
}