#welcome{
    display:flex;
    justify-content: center;
    font-size: 16px;
    font-family: monospace;
    background-color:yellow;
    border-radius:16px;
    margin-right:250px;
    margin-left:250px;
    margin-top:100px;
    box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.2),   /* main soft shadow */
    0 1px 3px rgba(0, 0, 0, 0.1),   /* subtle top shadow */
    0 8px 10px rgba(0, 0, 0, 0.25); /* big one directly below */

    animation: pulse 2.5s ease-in-out infinite;
}

@keyframes pulse {
    0%,100%
    {
        transform:scale(1);
        opacity:1;
    }
    50%
    {
        transform:scale(1.15);
        opacity:0.6;
    }
    
}







