* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: verdana, sans-serif;
}

header{
    position: relative;
    z-index: 10;
}

video {
    display: block;
    margin: 0 auto;
}

.inner {
    padding: 16px 0 16px 64px;
    background-color: #444;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
}

.inner a {
    position: relative;
    color: white;
    display: inline-block;
    margin-left: 22px;
    font-size: 1rem;
}

.inner a:hover {
    color: #ff6666;
    transition: .6s;
}

.inner a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 2px;
    background-color: #ff6666;
    transition: transform 250ms ease;
}

.inner a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-container::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 15px; /* This height must cover the gap created by the transform */
}

.dropdown-btn {
    background-color: transparent;
    color: white;
    font-size: 1rem;
    font-family: inherit;
    border: none;
    cursor: pointer;
    margin-left: 22px;
    font-weight: normal;
    display: flex;
    align-items: center;
    transition: color 0.6s;
}

.dropdown-btn:hover,
.dropdown-btn:focus {
    color: #ff6666;
    outline: none;
}

.dropdown-icon {
    width: 1em;
    height: 1em;
    margin-left: 0.5rem;
    transition: transform 0.3s ease-in-out;
}

.dropdown-content {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #555;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    z-index: 1;
    padding-top: 8px;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.dropdown-container:hover .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(13px);
}

.dropdown-container:hover .dropdown-icon {
    transform: rotate(180deg);
}

.dropdown-item {
    color: white;
    padding: 12px 16px;
    display: block;
    text-align: left;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown-item::after {
    display: none;
}

.dropdown-item:hover {
    color: #ff6666;
}

.shrinked {
    display: flex;
    justify-self: center;
    justify-content: center;
    background-color: #222;
    border-radius: 50px;
    color: white;
    padding: 16px;
    width: 3vw;
    transition: all .4s ease-out;
}

.shrinked:hover {
    cursor: pointer;
    color: #ff6666;
}

.shrinked input {
    display: none;
}

.expanded {
    display: flex;
    justify-self: center;
    justify-content: space-between;
    width: 300px;
    padding: 5px 5px 5px 20px;
    background-color: #222;
    border-radius: 50px;
    transition: all .4s ease-in;
}

.expanded i {
    background-color: white;
    border-radius: 50%;
    padding: 12px;
    color: #000;
    cursor: pointer;
}

.expanded i:hover {
    color: #ff6666;
    transition: .4s ease;
}

.expanded input {
    outline: none;
    border: none;
    background: transparent;
    padding: 8px;
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.expanded input::placeholder {
    color: #999;
    font-weight: 500;
    margin-top: 8px;
    padding-left: 0.1em;
}