* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

body {
    background: #333;
    color: #fff;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.7);
}

.navbar ul {
    display: flex;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar ul li a:hover {
    color: skyblue;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section h1 {
    font-size: 4rem;
}

section p {
    font-size: 1.5rem;
}

.to_top {
    background-color: white;
    position: fixed;
    right: 32px;
    bottom: 16px;
    width: 50px;
    height: 50px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to_top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

#Image-container {
    font-size: 32px;
    display: flex;
    flex-direction: row-reverse;
}

#Image-container div {
    margin: 0 1.5rem;
    padding: 1rem;
}

#Image-container div img {
    width: 100%;
    border-radius: 16px;
}

#meet_team {
    display: flex;
    flex-direction: row;
    text-align: left;
    flex-wrap: wrap;
}

#meet_team div {
    margin: 1.5rem;
    background: slategray;
    font-weight: 200;
    width: 30%;
}

#meet_team div img {
    width: 100%;
}

#meet_team div h1 {
    font-size: 32px;
    padding: 1rem;
}

#meet_team div p:first-of-type {
    color: darkslategrey;
    font-weight: 200;
}

#meet_team div p {
    padding: 8px;
    ;
}

#meet_team div button {
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    font-size: 16px;
}